
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}
header{
    width: 100%;
    height: 80vh;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(180, 232, 245);
    background-image: url(./images/bg-hero-desktop.svg);
}
.up{
    padding: 30px;
    
    display: flex;
    justify-content: space-between;
}
.up img{
    width: 100px;
}
.up button{
    border:0;
    border-radius: 50px;
    box-shadow: 4px 12px 35px -3px rgba(0,0,0,0.20);
    width: 120px;
    height: 30px;
    background: white;

}
.down{
    display: flex;
    /* align-items: center; */
}
.text{
    flex: 1;
    padding-top: 100px;
    
}
.text p{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 400px;
}
.down img{
    flex: 1.1;
    padding-top: 30px;
    width: 100px;
}
.btn-down{
    height: 40px;
    width: 200px;
    border: 0;
    border-radius: 50px;
    background-color: palevioletred;
    color: #fff;
    cursor: pointer;
}
main{
    margin: 50px;
    margin-top: 100px;
}
main >div{
    border: 2px solid #dddd;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    margin-bottom: 25px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}
main >div >img{
    padding: 20px;
    margin-right: 50px;
    width: 200px;
}
main>div>.text{
    padding-left: 100px;
    padding-bottom: 30px;
    max-width: 500px;
}
main>div>.text>p{
    max-width: 350px;
    color: gray;
}
.sec img{
    margin-left: 50px;
}
.center{
    text-align: center;
    
}
.cart{
    width: 500px;
    height: 150px;
    display: inline-block;
    border: 2px solid #dddd;
    background-color: #fff;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.25);
    text-align: center;
    position: relative;
    margin-bottom: -50%;
    z-index: 1;
    
    

}
.cart h1{
    font-size: 23px;
    padding: 15px;
    padding-top: 30px;
}
footer{
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 300px;
    padding: 150px;
    padding-bottom: 5px;
    margin-top: -50px;
    z-index: -1;
    
}
#logo{
    width: 150px;
}
footer>div{
    max-width:300px;

}
footer ul{
    list-style-type: none;

}
footer .li-1 ul li {
    margin-bottom: 30px;
}
footer ul img{
    padding-right: 10px;
}
.li-2 ul{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 40px 40px;
    padding-top:100px ;
}
.li-2 ul li{
    cursor: pointer;
    text-decoration: solid;
}
.li-3{
    padding-top: 100px;
}
.li-3 ul{
    display: flex;
    padding-bottom: 100px;
}
.li-3 ul li{
    margin-left: 10px;
}

.li-3 a{
    color: #fff; 
    padding: 5px;
    border: 1px solid;
    border-radius: 50px;
    cursor: pointer;
}

.li-3 ul li a:hover{
    cursor: pointer;
    color: purple;

}
@media (max-width :720px) {
    header{
        height: auto;
    }
    .down{
        display: flex;
        flex-direction: column;
    }
    .down img{
        /* flex: 2; */
        width: 300px;
    }
    main>div{
        height: auto;
    }
    .sec .text{
        padding-left: 0px;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
}
